# This is a simple crash course for python for data science

#### Printing in jupyter

In [4]:
#the first method is to obviously use the print statement like in normal python 
print("Hello Elijah the great , how is your day going ")
#or you can simply just type in what you want to be printed 
"Hello world "
#this method is limited because the editor will only print the last value input if this style is used

Hello Elijah the great , how is your day going

'Hello world '

In [ ]:
#There is also a unique way to print in python called the f-string method
name = "Elijah" #This is a variable containing a string 
age = 20  #This is a variable containing an integer
print(f"My name is {name} and I am {age} years old") #This is an f-string that allows you to embed variables directly into the string   
#You can also use the format method to print strings with variables
print("My name is {} and I am {} years old".format(name, age)) ##This is another way to format strings in python, it is similar to the f-string method but it is more verbose
#You can also use the % operator to format strings in python, this is an older method but it is still used in some cases
print("My name is %s and I am %d years old" % (name, age)) #This is an older way to format strings. Just like in c but abit different

My name is Elijah and I am 20 years old
My name is Elijah and I am 20 years old
My name is Elijah and I am 20 years old

#### Data types

In [ ]:
#Data types are the same as in C
'''
int  - this is a whole number
float - this is a decimal number 
str - this is a string value(character array)
double  - (this is a long integer value )
boolean  - this is a true or false value
char - this is a single character 
'''
#other data types in python 3
'''
list - this is a list of values that can be of any data type
tuple - this is a list of values that cannot be changed
dict - this is a dictionary that contains key value pairs
set - this is a set of values that cannot contain duplicates
None - this is a null value that is used to indicate that a variable has no value
complex - this is a complex number that contains a real and imaginary part
bytes - this is a byte value that is used to store binary data
bytearray - this is a mutable byte value that is used to store binary data
frozenset - this is a set that cannot be changed
range - this is a range of values that can be used in loops
memoryview - this is a memory view of a byte value that can be used to access the
data in a byte value without copying it
'''

'\nlist - this is a list of values that can be of any data type\ntuple - this is a list of values that cannot be changed\ndict - this is a dictionary that contains key value pairs\nset - this is a set of values that cannot contain duplicates\nNone - this is a null value that is used to indicate that a variable has no value\ncomplex - this is a complex number that contains a real and imaginary part\nbytes - this is a byte value that is used to store binary data\nbytearray - this is a mutable byte value that is used to store binary data\nfrozenset - this is a set that cannot be changed\nrange - this is a range of values that can be used in loops\nmemoryview - this is a memory view of a byte value that can be used to access the\ndata in a byte value without copying it\n'

In [ ]:
#integer
print(type(1))
#float
print(type(1.5))
#boolean 
print(type(True))
#string
print(type("Hello world"))
#list
print(type([1, 2, 3])) #a list is technically an array in c 
#tuple
print(type((1, 2, 3))) #a tuple is a fixed array in c 
#dict
print(type({"name": "Elijah", "age": 20})) #a dict is a hash table in c. It has a key-value pair structure e.g key is  name and value is Elijah . The keys are separated from their values using a : symbol 
#set
print(type({1, 2, 3})) #a set is a collection of unique values in c . This can be used to remove duplicates from a list and is noted by the {}

<class 'int'>
<class 'float'>
<class 'bool'>
<class 'str'>
<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'set'>

In [ ]:
#array functions also apply here to  the list like the append function 
names = ["Elijah", "John", "Jane"  , "jasmine "]

names.append("James ")#this will add the name james at the end of this list because thats how the append function works 
print(names)

names.insert(0,"Nicole") #the insert method helps us to add a value where in the array we want it to be added , the function takes two params ( index, value )
print(names)

#we can also use loops to iterate through the list/array like in c
for name in names:
    print(name) #this will print each name in the list on a new line
print("\n")#printing a new line character immediately we are out of the loop 
#this is a bit dissimilar to c because python is a smart language but something similar would be :

for i in range(len(names)):#this creates a variable i that will keep track like the for loops in c the number of elements in the array  and we use the len function to determine how many values are in the array / are we iterating over 
    print(names[i])#prints the names at each index of i (python is also 0 indexed like in c )

['Elijah', 'John', 'Jane', 'jasmine ', 'James ']
['Nicole', 'Elijah', 'John', 'Jane', 'jasmine ', 'James ']
Nicole
Elijah
John
Jane
jasmine
James


Nicole
Elijah
John
Jane
jasmine
James

#### FUNCTIONS

- The functions in python are basically the same as those in c

In [31]:
#Python is a framework built on c libraries . It happens to have some of the functionalities straight off the bat like the sorting algorithm 

numbers = [2,9,1,5,3,8] #this is an array of numbers in a dis-organized manner
numbers.sort() #this will sort the numbers in ascending order
print(numbers) 
#To print the numbers in descending order we have to use the reverse function 
numbers.reverse() #this will reverse the order of the numbers in the array
print(numbers) #this will print the numbers in descending order

#or the reverse function can be integrated into the sorting function
numbers.sort(reverse=True) #this will sort the numbers in descending order
print(numbers) 

#another function we can use is the range function with a loop 
#range(startValue, endValue , seperaterBetweenThem)

for i in range(1,10,2):
    print(i)

[1, 2, 3, 5, 8, 9]
[9, 8, 5, 3, 2, 1]
[9, 8, 5, 3, 2, 1]
1
3
5
7
9

In [25]:
#We can also create our own functions in python just lke in c 
# the criteria is a bit different but its overall the same criteria 
'''
def function(<params>):
    <code>
    return <data>
'''

def add(a, b):
    c = a + b
    return c

a = int(input("Enter your first number :"))
b = int(input("Enter your second number :"))
print(f"When we add {a} and {b} we get {add(a,b)}")
#easyyyy

When we add 89 and 10 we get 99

#### Dictionaries

In [24]:
students = {"names": ["Stacy","Kisha","Betty"], "ages": [20, 21, 22], "grades": ['A', 'B', 'A']} #this is a dictionary that contains key value pairs
#we can see both the keys and the values in our dictionary 

print(students.values()) #this will print the values in the dictionary
print(students.keys())#this prints all the keys in the dictionary 

#we can also access the values in the dictionary using the keys
print(students["names"]) #this will print the names in the dictionary
print(students["ages"]) #this will print the ages in the dictionary
print(students["grades"]) #this will print the grades in the dictionary

#indexing also applies in this case 
print(students["names"][0]) #this will print the first name at index 0 in the names list

#to completely clear all the key value pairs in the dictionary we use the clear function 
#students.clear() #this will clear all the key value pairs in the dictionary
#print(students) #this will print the empty dictionary

#to remove a key and its values from the dictionary we use the pop function 
students.pop("ages") #this will remove the ages key and its values from the dictionary
print(students) #this will print the dictionary without the ages key and its values
#the other way is to use the delete function 
del students["grades"] #this will delete the grades key and its values from the dictionary
print(students) #this will print the dictionary without the grades key and its values

dict_values([['Stacy', 'Kisha', 'Betty'], [20, 21, 22], ['A', 'B', 'A']])
dict_keys(['names', 'ages', 'grades'])
['Stacy', 'Kisha', 'Betty']
[20, 21, 22]
['A', 'B', 'A']
Stacy
{'names': ['Stacy', 'Kisha', 'Betty'], 'grades': ['A', 'B', 'A']}
{'names': ['Stacy', 'Kisha', 'Betty']}

In [22]:
#Using a for loop on a dictionary 

data  = {"names": ["Stacy","Kisha","Betty"], "ages": [20, 21, 22], "grades": ['A', 'B', 'A']}


for key,value in data.items(): #its the only way we can be able to print the values in the dictionary  :
    for i in range(len(value)):
        print(key,":",value[i])

names : Stacy
names : Kisha
names : Betty
ages : 20
ages : 21
ages : 22
grades : A
grades : B
grades : A

#### IF STATEMENTS

In [ ]:
#This is pretty much very similar to c if statements 
#same criteria applies here
name = "Elijah"
name  = "Jany"

if name == "Elijah":
    print("Well done you little bugger ")
elif name == "Jany":
    print("Heyy sweet cheeks ") 
else:
    print("Thats not your name twat ")

Thats not your name twat

#### LISTS

In [42]:
## we can also use this when dealing with dictionaries  and lists 

##WAY 1
countries = ["Uganda","Kenya","Morroco","Germany","France"]

userInput = input("What country are you in ?")


if userInput in countries:
    index = countries.index(userInput)
    print(f"Welcome citizen of {countries[index]}")
   
else:
    print("We donot know that country ")
    

##WAY 2
countries = ["Uganda","Kenya","Morroco","Germany","France"]

userInput = input("What country are you in ?")

for country in countries :
    if userInput == country:
        print(f"Welcome citizen of {country}")
        break
else:# we place the else statement outside the for loop so that it can completely iterate through our list without just breaking out of it 
    print("We do not know that country ")

Welcome citizen of Germany
Welcome citizen of Germany

In [45]:
# we can also enumerate our code 
countries = ["Uganda","Kenya","Morroco","Germany","France"]
for i,country in enumerate(countries) :
    print(i,':',country) #this will print the index and the country in the list

0 : Uganda
1 : Kenya
2 : Morroco
3 : Germany
4 : France

In [ ]:
#There are numerous ways to copy a list one of them being slicing a list 
#### WAY 1
countries = ["Uganda","Kenya","Morroco","Germany","France"]
newList = countries[:]
newList#this will have the exact same things as the original list cause we sliced from index 0 to the last index using :

#### WAY 2
#we can also use the copy function 
newList = countries.copy()
print(newList)

newList.append("Egypt")

print(countries)#original 
print(newList)#copy with an appended value

['Uganda', 'Kenya', 'Morroco', 'Germany', 'France']
['Uganda', 'Kenya', 'Morroco', 'Germany', 'France']
['Uganda', 'Kenya', 'Morroco', 'Germany', 'France', 'Egypt']

#### MODULES
- OS MODULE

In [ ]:
#The only way to access an os module we use import key word 
import os

os.getcwd() #this method is to get the current working directory 
os.listdir() #lists all the files in the directory being used currently 
#os.mkdir("vibeCode") #this is how we can make a new folder in the directory we are in 
#os.rmdir("vibeCode/") #this is to remove a folder in the current working directory

['hello.ipynb']

## PANDAS
-----------------------------------------------------------------------------

In pandas we mainly work with 1D Arrays and 2D Arrays (series and dataframes)

To use 2D arrays we use Numpy 
<br>You can also create a data-frame using a dictionary

In [2]:
#we first import the modules 
import pandas as pd 
import numpy as np

In [41]:
#creating an array 

data = np.array([[1,4], [2,5], [3,6]])

In [ ]:
#creating a dataframe using pandas 
data = np.array([[1,4], [2,5], [3,6]])

#You have to use an array to create a data frame

dataFrame = pd.DataFrame(data ,index = ["row1","row2","row3"], columns=["col1","col2","col3"])
#this takes 3 criteria . The array, then the names of the columns 
dataFrame

In [9]:
data = [[1,4], [2,5], [3,6]]

df = pd.DataFrame(data, index=['row1', 'row2', 'row3'],
                 columns=['col1', 'col2'])
df

      col1  col2
row1     1     4
row2     2     5
row3     3     6

##### Creating a dataframe from a dictionary

In [52]:
states = ['California','Texas','Florida','New York']
population = [2342342432432,32424324324,2342234232,23423423435]

dictStates = {'States': states, 'Population':population}

dfPopulation = pd.DataFrame(dictStates)
dfPopulation

       States     Population
0  California  2342342432432
1       Texas    32424324324
2     Florida     2342234232
3    New York    23423423435

In [6]:

# we can also create a dataframe using a csv file . 
data2 = pd.read_excel("DIAMONDS.xlsx") #you place the dataset you want in the qoutes

#### Functions in pandas

In [ ]:
#head function - to see the first 5 rows in the columns 
data2.head(5)

#

   price  carat      cut color clarity  depth  table     x     y     z
0    326   0.23    Ideal     E     SI2   61.5   55.0  3.95  3.98  2.43
1    326   0.21  Premium     E     SI1   59.8   61.0  3.89  3.84  2.31
2    327   0.23     Good     E     VS1   56.9   65.0  4.05  4.07  2.31
3    334   0.29  Premium     I     VS2   62.4   58.0  4.20  4.23  2.63
4    335   0.31     Good     J     SI2   63.3   58.0  4.34  4.35  2.75