- Probability includes
1. Marginal Prob - for a single variable 
2. Joint prob - for two events 
3. Conditional prob - for an event to occur if another occurs

## Example 
Imagine 20 marbles in a bag
- 8 are red and smooth 
- 5 are red and rough 
- 4 are blue and smooth 
- 3 are blue and rough 

Get the :-
1. Prob of getting a red marble </br>
    this is marginal prob </br>
    P(R) = no of events / sample space
    P(R) = (8+5)/20,
    P(R) = 13/20,
    P(R) = 0.65
2. Prob of a smooth marble </br>
    This is still marginal prob</br>
    P(S) =no of events/sample space,
    P(S) = (8+4)/20,
    P(S) = 12/20,
    P(S) = 0.6

- In python

### MARGINAL PROBABILITY

In [3]:
# Get  MARGINAL PROBABILITY
#1.Prob of getting a red marble
sample_space = 20
red_smooth = 8
red_rough = 5
blue_smooth = 4
blue_rough = 3
red = red_smooth + red_rough
prob_red = red/sample_space
print(f"The probability of getting a red marble is {prob_red}")


#2. Prob of getting smooth marble 
sample_space = 20
red_smooth = 8
red_rough = 5
blue_smooth = 4
blue_rough = 3
smooth = blue_smooth+red_smooth
prob_smooth = smooth/sample_space
print(f"The probability of getting a red marble is {prob_smooth}")

The probability of getting a red marble is 0.65
The probability of getting a red marble is 0.6

### JOINT PROBABILITY

In [6]:
# Get  JOINT PROBABILITY
#1.Prob of getting a marble that is both red and smooth 
#In this case the red an smooth variable was already stated for us  
sample_space = 20
red_smooth = 8
red_rough = 5
blue_smooth = 4
blue_rough = 3

prob_red_smooth = red_smooth/sample_space
print(f"The probability of getting a red and smooth marble is {prob_smooth}")

The probability of getting a red and smooth marble is 0.6

In [ ]:
sample_sp = {1,2,3,4,5,6}
event_1 = {1,2,3}
event_2 = {2,4,3}

##Get the joint probability
joint_event_prob = len([x for x in event_1 if x in event_2])/len(sample_sp)
joint_event_prob

0.3333333333333333

##### Example 2

In [10]:
import pandas as pd
import numpy as np

In [11]:
diamond_data = pd.read_csv("/Users/keksmacbookair/Desktop/COURSE_WORKS/Year_One/course_work_sem_2/Probability_and_statistics/data_Sets/diamonds.csv")

- Comparing clarity and carat

In [13]:
diamond_data[['clarity','carat']]

      clarity  carat
0         SI2   0.23
1         SI1   0.21
2         VS1   0.23
3         VS2   0.29
4         SI2   0.31
...       ...    ...
53915     SI1   0.72
53916     SI1   0.72
53917     SI1   0.70
53918     SI2   0.86
53919     SI2   0.75

[53920 rows x 2 columns]

In [ ]:
print(diamond_data['carat'].min())
print(diamond_data['carat'].max())
print(f'The range for carat is {diamond_data['carat'].min()} and  {diamond_data['carat'].max()}')

0.2
5.01
Thee range for carat is 0.2 and  5.01

In [12]:
diamond_data['clarity'].unique()

array(['SI2', 'SI1', 'VS1', 'VS2', 'VVS1', 'I1', 'VVS2', 'IF'],
      dtype=object)

- Question wanted the joint prob for a diamond with carat of >0.5 and clarity SI1