### KAWOOMA ELIJAH
### M24B38/023
### B29158

#### HANDLING MISSING VALUES ASSIGNMENT 1

In [2]:
##calling the neccessary libraries
import pandas as pd #for creating a dataframe
import seaborn as sn #for visualisations

In [14]:
data = pd.read_excel("C:/Users/STUDENTS/Desktop/Elijah_Kaizzi_B29158/Python/Learning/year2/Student_performance.xlsx")

- Getting a statistical overview of the data

In [15]:
data.describe(include= 'all')

,Access_no,gender,age,course,DSC3108,DSC3114,MTH3108,SYE3104
count,11.000000,11,11.000000,10,10.000000,10.000000,11.000000,11.000000
unique,NaN,2,NaN,3,NaN,NaN,NaN,NaN
top,NaN,female,NaN,Computer_Science,NaN,NaN,NaN,NaN
freq,NaN,6,NaN,4,NaN,NaN,NaN,NaN
mean,496.545455,NaN,21.454545,NaN,63.200000,76.300000,70.090909,62.818182
std,278.903339,NaN,0.522233,NaN,24.220285,16.418486,18.030278,25.956957
min,123.000000,NaN,21.000000,NaN,25.000000,40.000000,38.000000,19.000000
25%,317.500000,NaN,21.000000,NaN,47.250000,70.000000,64.500000,42.000000
50%,415.000000,NaN,21.000000,NaN,67.500000,76.500000,78.000000,65.000000
75%,723.500000,NaN,22.000000,NaN,85.000000,86.000000,79.000000,86.500000
max,892.000000,NaN,22.000000,NaN,91.000000,98.000000,92.000000,93.000000

- Checking for the data types of all the variables

In [5]:
data.dtypes

Access_no      int64
gender        object
age            int64
course        object
DSC3108      float64
DSC3114      float64
MTH3108        int64
SYE3104        int64
dtype: object

- Checking for the missing values for each individual column

In [9]:
data.isna().sum()

Access_no    0
gender       0
age          0
course       1
DSC3108      1
DSC3114      1
MTH3108      0
SYE3104      0
dtype: int64

#### Handling the missing values

#### Method 1 of filling  using measures of central tendency


- the following rows have missing values

1. course       1 - categorical 
2. DSC3108      1 - numerical
3. DSC3114      1 - numerical

- Since the data set is not very large, simply removing the missing values results in a heavy lose of data so we impute

In [6]:
###For the continous variables we imput using the mean or median  
###DSC3108 - impute with median cause the data is right skewed(mean < median ) (<eft)~quick reminder
data["DSC3108"] = data["DSC3108"].fillna(data["DSC3108"].median())
###DSC3114 -impute with mean cause its symmetrical (mean and median are equal)
data["DSC3114"] = data["DSC3114"].fillna(data["DSC3114"].median())

In [10]:
###For the categorical variables we use mode 
data["course"] = data["course"].fillna(data["course"].mode()[0]) #mode()[0] gives the most frequent value as a scalar

In [11]:
##check to see if the missing values are still there 
data.isna().sum()

Access_no    0
gender       0
age          0
course       0
DSC3108      0
DSC3114      0
MTH3108      0
SYE3104      0
dtype: int64

#### Method two of handling missing values using interpolation

- Using the linear interpolation onthe numerical variables

In [35]:
data["DSC3108"] = data["DSC3108"].interpolate(method='linear')
data["DSC3114"] = data["DSC3114"].interpolate(method='linear')

In [34]:
data.isnull().sum()

Access_no           0
gender              0
age                 0
course              1
DSC3108             0
DSC3114             0
MTH3108             0
SYE3104             0
DSC3108_interpol    0
DSC3114_interpol    0
dtype: int64

#### Method three of handling missing values using imputation

In [37]:
#using the scikit learn package to impute
from sklearn.impute import SimpleImputer

In [40]:
###For the continous variables we imput using the mean or median  
###DSC3108 - impute with median cause the data is right skewed(mean < median ) (<eft)~quick reminder
num_imputer = SimpleImputer(strategy='median') 
data[['DSC3108']] = num_imputer.fit_transform(data[['DSC3108']])

In [41]:
###DSC3114 -impute with mean cause its symmetrical (mean and median are equal)
num_imputer_2 = SimpleImputer(strategy='mean') 
data[['DSC3114']] = num_imputer_2.fit_transform(data[['DSC3114']])

In [43]:
###For the categorical variables we use mode 
cat_imputer = SimpleImputer(strategy='most_frequent')
data[['course']] = cat_imputer.fit_transform(data[['course']])

In [44]:
data.isna().sum()

Access_no           0
gender              0
age                 0
course              0
DSC3108             0
DSC3114             0
MTH3108             0
SYE3104             0
DSC3108_interpol    0
DSC3114_interpol    0
dtype: int64